# dependencies
node_modules

# next.js
.next
out

# vercel
.vercel

# typescript
*.tsbuildinfo

# logs
*.log
npm-debug.log*

# os
.DS_Store
Thumbs.db

# editor / local AI workspace
.kiro
.idea
.vscode

# env
.env
.env.local
.env.*.local
